/* General */
* {
  font-family: 'Roboto';
}

body {
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
}

header {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
}

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}


.msg {
  background-color: #D4EDDA;
  color: #155724;
  border: 1px solid #C3E6CB;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

/* navbar */
#navbar img {
  width: 40px;
}

#navbar {
  justify-content: space-between;
  background-color: #FFF;
  padding: 5px 0;
}

#navbar a {
  font-size: 14px;
  color: #757575;
}

#navbar a:hover {
  color: #F2A340;
}



.table-row{
  cursor:pointer;
  }


/* footer */
footer {
  text-align: center;
  background-color: #353E48;
  color: #FFF;
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: 0;
}